@use './helpers.scss';
@use './Normalize/Normalize.scss';
@use './Breadcrumbs/Breadcrumbs.scss';
@use './Banner/Banner.scss';
@use './Button/Button.scss';
@use './CardMask/CardMask.scss';
@use './Colors/Colors.scss';
@use './Checkbox/Checkbox.scss';
@use './Dialog/Dialog.scss';
@use './DialogActions/DialogActions.scss';
@use './DialogContent/DialogContent.scss';
@use './DialogIcon/DialogIcon.scss';
@use './Dropdown/Dropdown.scss';
@use './DropdownItem/DropdownItem.scss';
@use './FormRow/FormRow.scss';
@use './Grid/Grid.scss';
@use './MacPawLogo/MacPawLogo.scss';
@use './GridCell/GridCell.scss';
@use './GridRow/GridRow.scss';
@use './Input/Input.scss';
@use './Hint/Hint.scss';
@use './Label/Label.scss';
@use './LanguageSwitcher/LanguageSwitcher.scss';
@use './Layout/Layout.scss';
@use './Loader/Loader.scss';
@use './Multiselect/Multiselect.scss';
@use './Notification/Notification.scss';
@use './Pagination/Pagination.scss';
@use './Panel/Panel.scss';
@use './Radio/Radio.scss';
@use './Select/Select.scss';
@use './Tag/Tag.scss';
@use './TagList/TagList.scss';
@use './Table/Table.scss';
@use './Tooltip/Tooltip.scss';
@use './Typography/Typography.scss';
@use './TagInput/TagInput.scss';
@use './Switch/Switch.scss';
@use './Clipboard/Clipboard.scss';
@use './LanguageIcon/LanguageIcon.scss';
@use './DatePicker/DatePicker.scss';

pre {
  background: #282C34 !important;
  color: #FFFFFF !important;
  padding: 1rem;
  border-radius: 5px;
  overflow-x: auto;
  font-size: 13px;
}

code {
  color: inherit !important;
}
